body {
  min-width: 600px;
  background: #2A8FBD;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 25px; }

#content {
  width: 600px;
  margin: 0 auto; }
  #content h1 {
    margin-top: 30px;
    font-weight: 800;
    font-size: 90px;
    border-bottom: 5px solid #fff;
    padding-bottom: 20px; }
    #content h1 a {
      text-decoration: none; }
  #content h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 36px; }
  #content h3 {
    margin-top: 20px; }
  #content a, #content a:visited {
    color: #fff; }
  #content p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px; }
  #content li {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 35px; }
  #content ol {
    list-style: decimal; }
  #content ul {
    list-style: disc; }
  #content blockquote {
    margin: 40px; }
    #content blockquote p {
      font-style: italic;
      font-size: 40px;
      line-height: 44px; }
  #content footer {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px; }
    #content footer a {
      text-decoration: none; }

.gist {
  font-size: 60%; }
  .gist a, .gist a:visited {
    color: #000 !important; }

#without-plugins {
  background: #E45635; }
  #without-plugins h1 {
    font-size: 70px; }

#sync-iphones {
  background: #26A459; }

#lego {
  background: #4C5053; }

.twitter-tweet {
  margin: 0 auto !important; }

.center {
  margin: 0 auto;
  display: block; }
