/* colors 
 * e06c0d
 * a34114
 * f5b678
 * 7a2a14
 * 45150b
 */

/* elements */
* { 
  margin: 0; 
  padding: 0;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #222;
  line-height: 1.4em;
  background-image: url(../images/vachetta.gif);
}


h1 a:link, h1 a:visited, h1 a:hover {
  color: #45150b;
  text-decoration: none;
}

a img { border-width: 0; }

blockquote {
  border-left: 1px solid #222;
  line-height: 18px;
  font-size: 11pt;
  font-style: italic;
  margin: 20px;
  padding-left: 10px;
}

code {
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 12pt;
}

h1, h2, h3, #footer { 
  font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

.grid_2 {
  padding-top: 75px;
}

.grid_2 h4 {
  color: #fff;
}

.grid_2 a {
  display: block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 2px auto;
}

.grid_2 a:hover {
  text-decoration: underline;
}


h1 { 
  font-size: 36px; 
  line-height: 36px;
  margin-top: 18px;
  margin-bottom: 3px;
  text-align: center;
}

h2 { 
  font-size: 24px; 
  line-height: 22px; 
  margin-bottom: 18px;
}

h3 { 
  font-size: 20px; 
  line-height: 22px; 
}

li { margin-bottom: 4px; }

p, ul, ol { margin-bottom: 18px; }

ul, ol {
  margin-left: 2em;
}

ul { list-style-type: square; }


/* classes */
.book-cover {
  float: left;
  margin-right: 10px;
}

.fusiontext a, .fusiontext a:hover, .fusiontext a:visited {
  color: #222;
  text-decoration: none;
}

.post {
  border-bottom: 1px solid #222;
  margin-bottom: 20px; 
}

.post p {
  font-size: 13pt;
  line-height: 26px;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right; 
}

/* ids */

#subtitle {
  text-align: center;
  font-size: 14px;
  color: #7a2a14;
}

#main {
  background: #F5B678;
}

#links {
  text-align: right;
}

#links h4 {
}
