/* colors 
 * e06c0d
 * a34114
 * f5b678
 * 7a2a14
 * 45150b
 */

/* elements */
* { 
  margin: 0; 
  padding: 0;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4em;
  background-image: url(../images/pattern.png);
}

a, a:visited {
  color: #7a2a14;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  -x-system-font:none;
  font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", monospace;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

pre {
  background-color: #ccc;
  border: 2px solid #333;
  padding: 10px;
  line-height: 16px;
}

h1 a:link, h1 a:visited, h1 a:hover {
  color: #45150b;
  text-decoration: none;
}

hr {
 color: #45150b;
 border: 1px solid;
 margin: 15px auto;
}

#main > hr {
 margin: 15px 30px;
}

a img { border-width: 0; }

blockquote {
  border-left: 1px solid #222;
  line-height: 18px;
  font-size: 11pt;
  font-style: italic;
  margin: 20px;
  padding-left: 10px;
}

h1, h2, h3, #footer { 
  font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

.grid_2 {
  padding-top: 110px;
}

.grid_2 h4 {
  color: #fff;
}

.grid_2 a {
  font-weight: normal;
  display: block;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin: 2px 10px;
}

.grid_2 a:hover {
  text-decoration: underline;
}


h1 { 
  font-size: 36px; 
  line-height: 36px;
  margin-top: 18px;
  margin-bottom: 3px;
  text-align: center;
}

h2 { 
  text-align: center;
  font-size: 24px; 
  line-height: 22px; 
}

h3 { 
  font-size: 20px; 
  line-height: 22px; 
}

li { margin-bottom: 4px; }

p, ul, ol { margin-bottom: 18px; }

ul { list-style-type: square; }

/* ids */

#subtitle {
  text-align: center;
  font-size: 14px;
  color: #a34114;
}

#main {
  background: #C7B795;
}

#links {
  text-align: right;
}

#links h4 {
}

#archive {
  list-style: none;
  width: 500px;
  margin: 20px auto;
}

#archive li {
  height: 20px;
  margin: 0;
}

#archive a {
  float: left;
}

#archive abbr {
  color: #666;
  float: right;
  font-size: 12px;
}

#post {
  padding: 0px 30px;
}

#post h2 {
  margin-bottom: 3px;
}

#static {
  padding: 0px 30px;
}

#static h2 {
  margin-bottom: 15px;
}

#date {
  text-align: center;
  color: #666;
  margin-bottom: 15px;
  font-size: 12px;
}

#footer {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}

#footer a {
  color: #666;
  font-size: 13px;
  font-weight: normal;
}

.post-37signals a {
  color: #33454E;
}

.post-thoughtbot a {
  color: #8A4860;
}

.post-pickaxe a {
  color: rgba(83, 34, 54, 1.0);
}
