$width: 600px;

body {
  min-width: $width;
  background: #2A8FBD;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;

  nav {
    position: absolute;
    top: 0px;
    left: 5px;
    a {
      text-decoration: none;
      font-size: 80%;
      opacity: 0.8;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  code {
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
  }
}

#content {
  width: $width;
  margin: 0 auto;

  h1 {
    margin-top: 30px;
    font-weight: 800;
    font-size: 90px;
    border-bottom: 5px solid #fff;
    padding-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 36px;
  }

  h3 {
    margin-top: 20px;
  }

  a, a:visited {
    color: #fff;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 35px;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  blockquote {
    margin: 40px;
    p {
      font-style: italic;
      font-size: 40px;
      line-height: 44px;
    }
  }

  footer {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      text-decoration: none;
    }

    small {
      display: block;
      margin-top: 5px;
      padding-left: 18px;
      font-size: 75%;
    }
  }
}

.gist {
  font-size: 60%;

  a, a:visited {
    color: #000 !important;
  }
}

#without-plugins {
  background: #E45635;

  h1 {
    font-size: 70px;
  }
}

#sync-iphones {
  background: #26A459;
}

#lego {
  background: #4C5053;
}

#toomany {
  background: #183060;
}

#dokku {
  background: #8877C9;
}

#new-parent {
  background: darken(#9CC1B7, 20%);
}

.twitter-tweet {
  margin: 0 auto !important;
}

.center {
  margin: 0 auto;
  display: block;
}
