<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Nick Quaranto" />
  <title>litany against fear &curren; by nick quaranto &curren; {{ page.title }}</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/new.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <section id="content">
    <header>
      <h1><a href="#">{{ page.title }}</a></h1>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
      — <a href="http://twitter.com/qrush">Nick Quaranto</a>
    </footer>
  </section>
</body>
</html>
